@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sacramento');
h1 {
    text-align: center;
    /*text-transform: uppercase;*/
}


.hero {
    width: 100%;
    height: auto;
    min-height: 49vh;
    /*background-image: url("../media/SynNovation_Services.jpg");*/
    background-image: url("../media/SynNovation_Services_Head.png");
    
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero.about_us {
/*background-image: url("../media/SynNovation_About_Us.jpg");}*/
background-image: url("../media/SynNovation_About_Us_Head.png");}

.hero.news {
/*background-image: url("../media/news.png");*/
background-image: url("../media/Synnovation_Headline_Head.png");
}
.hero.contact_us {
/*background-image: url("../media/SynNovation_Contact_Us.jpg");*/
background-image: url("../media/SynNovation_Contact_Us_Head.png");
}


.hero-title {
    border: 2px solid white;
    width: 60vw;
    padding: 10px;
    margin: auto;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 6.5em;
    overflow-wrap: break-word;
}

.heading {
    width: 80%;
    padding-top: 2em;
    margin: 0% auto;
}


.heading h2 {
    /*color: #B7383F;*/
    color: #a51f26;
}

.heading h3 {
    color: #a51f26;
}

.heading h5 .theRed {
    color: #a51f26;
}

.block-blurb {
    width: 80%;
    margin: auto;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: white;
    padding: 35px;
}

.block-blurb img {
    vertical-align: middle;
    padding: 10px 35px 40px 10px;
}

.block-small {
    width: 33%;
    float: left;
    padding: 10px;
    min-height: 30vh;
}

.block-profile {
    width: auto;
}

.block-profile h3 {
    font-size: 40px;
    text-align: left;
}

.block-profile img.profile-img {
    width: 30%;
    min-height: 100px;
    padding: 15px;
}

.section {
    width: auto;
    padding-top: 30px;
    overflow: hidden;
}

.section h5 {
    font-size: 36px;
}

.section h6 {
    padding-top: 30px;
}

.section-sub {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.gutter {
    margin-top: 70px;
    /*margin-bottom: 70px;*/
    margin-bottom: 0px;
}

.toggle {
    display: none;
}

.services {
    /*color: white;*/
    color: black;
    padding: 0 30px 15px;
}

.services ul {
    margin-left: 20px;
}

.services ul li {
    line-height: 2em;
}

.services p {
    /*padding-top: 10px;*/
    margin-bottom: 0;
}

.quote {
    width: 50%;
    margin: auto;
    color: white;
}

.quote q {
    display: inline;
    /*opacity: .4;*/
    font-family: GothamMedium;
    font-weight: 100;
}

q:before {
    content: "\275D";
}

q:after {
    content: "\275E";
}

.quote span {
    float: right;
    font-size: .4em;
}

.ui-accordion h3 {
    text-align: left;
    cursor: pointer;
    /*background: #98363b;*/
    margin-top: 5px;
}

.syn-img {
    padding: 30px 35px 30px 10px !important;
}
.s35 {width: 35%}
.theleft {
        float: left;
    }
    .theright{
        float: right;
    }

@media only screen and (max-width: 859px) {
    
    .content-block-image {
        width: 100%;
    }
    .logo_img {
        /*padding: 30px 35px 30px 10px !important;*/
        margin: 0% auto;
    }
    .s35 {text-align: center!important; width: 60%!important; }
    .left content-block-image profile-img {
        margin: 0% auto;text-align: center!important;
    }

}

@media only screen and (min-width: 860px) {
    .content-block-image {
        width: 60%;
    }
}

@media only screen and (min-width: 1300px) {
    .hero-title {
        /*font-size: 3.5em;*/
    }
    .content-block-image {
        width: 60%;
    }
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin: 15px 0 0 0;
}

.accordion.heading {
    color: #a51f26;
    font-family: GothamMedium;
    font-size: 1.5em;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion:before {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}

.active:before {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.theRed {
    color: #a51f26!important
}

.theGreen {
    color: #1e8650!important
}

.theBlue {
    color: #005696!important
}

.heading h5 .theGreen {
    color: #1e8650
}
.blacka a {color:black}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.myBtn {cursor: pointer;}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.scroll1,.scroll2,.scroll3,.scroll4,.scroll5,.scroll6 {
		display: none;
	}
	.scroll1 img,.scroll2 img,.scroll3 img,.scroll4 img,.scroll5 img,.scroll6 img {
		vertical-align: bottom;
	}
    pre {
	padding: 10px;
	margin: 20px;
	background: #eee;
	overflow: auto;
}
 
 * {
	 box-sizing: border-box;
}
 .main-container {
	 margin: 1.6rem 0.8rem;
}
 .grid-container {
	 margin: auto;
	 display: grid;
	 grid-gap: 1.1312rem;
	 grid-template-columns: repeat(auto-fit, 12.8rem);
	 grid-auto-rows: 12.8rem;
	 grid-auto-flow: dense;
	 justify-content: center;
	 max-width: 75em;
}
 .card {
	 grid-row: auto / span 1;
	 grid-column: auto / span 1;
	 background-color: white;
	 box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
}
 .card h1, .card h2, .card h3, .card h4, .card p {
	 margin-top: 0;
	 font-weight: normal;     
}
 .card__image {
	 height: 100%;
	 max-height: 100%;
	 width: 100%;
	 display: flex;
}
 .card__image img {
	 height: 100%;
	 min-height: 100%;
	 max-height: 100%;
	 width: 100%;
	 object-fit: cover;
}
 .card__side-by-side {
	 height: 100%;
	 width: 100%;
	 display: flex;
	 flex-flow: row nowrap;
}
 .card__side-by-side--m {
	 height: 100%;
	 width: 100%;
	 display: flex;
	 flex-flow: column nowrap;
}
 .card__side-by-side--m img {
	 min-height: auto;
}
 .card__content {
	 padding: 1rem;
}
 .card__button {
	 margin: 1.6rem 0;
	 text-align: center;
	 padding: 0.8rem 1.6rem;
	 background: none;
	 border: 0.5px solid #777;
	 border-radius: 2px;
}
 .card__button:hover {
	 border-color: #d099a0;
}
 .card--featured {
	 grid-row: auto / span 3;
	 grid-column: auto / span 2;
}
 .card--2x {
	 grid-row: auto / span 2;
	 grid-column: auto / span 2;
}
 .card--vertical {
	 grid-row: auto / span 2;
}
 .card--horizontal {
	 grid-column: auto / span 2;
}
 .card--frameless {
	 background-color: transparent;
	 box-shadow: none;
}
 .padding-large {
	 padding: 2.2rem;
}
 .padding-large--l {
	 padding: 1.6rem;
}
 .big-script {
	 height: 100%;
	 display: flex;
	 flex-flow: column nowrap;
	 justify-content: center;
	 align-items: center;
	 font-family: 'Sacramento', sans-serif;
	 font-size: 3em;
	 line-height: 3.5em;
	 text-align: center;
}
 .big-script p {
	 margin: 0;
}
 
 @media (max-width: 413px) {
	 .grid-container {
		 grid-template-columns: 1fr 1fr;
		 /*grid-auto-rows: auto;*/
         display: block;
	}
	 .card {
		 min-height: 12.8rem;
	}
     .onepointfive {font-size: 0.75em}
}
 @media (min-width: 627px) {
	 .grid-container {
		 grid-gap: 1rem;
         display: block;
	}
	 .card__side-by-side--m {
		 flex-flow: row nowrap;
	}
	 .card__side-by-side--m img {
		 min-height: 100%;
	}
	 .card--featured {
		 grid-row: auto / span 2;
		 grid-column: -1;
	}
     .onepointfive {font-size: 1em}
}
 @media (min-width: 836px) {
	 .padding-large--l {
		 padding: 3.2rem;
	}
     
}
 @media (min-width: 837px){
     .onepointfive {font-size: 1.5em}
      .grid-container {
	 margin: auto;
	 display: grid;
	 grid-gap: 1.1312rem;
	 grid-template-columns: repeat(auto-fit, 12.8rem);
	 grid-auto-rows: 12.8rem;
	 grid-auto-flow: dense;
	 justify-content: center;
	 max-width: 75em;
}
 }
 
 .video-container {
    overflow: hidden;
    position: relative;
    /*width:80%;*/
    width: 700px;
    margin: 0 auto;
    max-width: 100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}